<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://unpkg.com/missing.css@1.0.9/dist/missing.min.css">
        <title>Lime68k's endpoint</title>
    </head>
    <body>
        {{ comp.navbar() | safe }}

        <div class="col-4">
            <main>
                <div class="box warn">
                    <strong>Warning</strong>: Website still in construction zzz
        </div>
                {{ content | safe }}
            </main>
        </div>
        </div>
    </body>
    <style>
        a {
            color: white;
        }
    </style>
</html>