<header class="navbar" style="color:'white';" data-overflow-nav>
    <nav aria-label="Site sections">
        <ul role="list">
            <a href="/">Home</a>
            <li>
                <a href="/pages/about">About</a>
            </li>
            <li>
                <a href="/pages/portfolio">Portfolio</a>
            </li>
            <li>
                <a href="/pages/shows">Shows/Events</a>
            </li>
            </ul>
        </nav>
        <nav aria-label="Social media links">
            <ul role="list">
                <li>
                    <a href="/"><img alt=""></a>
                <li>
                    <a target="_blank" href="https://twitter.com/Lime68k">Twitter</a>
                <li>
                    <a target="_blank" href="https://post.lurk.org/@lime">Mastodon</a>
            </ul>
        </nav>
    </header>

    <style>
        .navbar {
            background-color: #000000;
            color: white;
            display: flex;
            justify-content: space-between;
            padding: 1rem;
            text-color: white;
            border-color: black;
        }

        .navbar a {
            color: white;
        }
    </style>