
    <div class='sidebar-layout'>
        <header style='height:100%'>
        <ul role="list">
            <a href="/">Home</a>
            <li>
                <a href="/pages/about">About</a>
                <li>
                    <a href="/pages/portfolio">Portfolio</a>
            <li>
                <a href="/"><img alt=""></a>
                <li>
                    <a target="_blank" href="https://twitter.com/Lime68k">Twitter</a>
                <li>
                    <a target="_blank" href="https://post.lurk.org/@lime">Mastodon</a>
            </ul>
        </header>
    <style>
        .sidebar-layout {
            position: fixed;
        }
        .header {
            position: fixed;
        }
        .navbar {
            background-color: #000000;
            color: white;
            display: flex;
            justify-content: space-between;
            padding: 1rem;
            text-color: white;
            border-color: black;
        }

        .navbar a {
            color: white;
        }
    </style>